<div class="container mt-5">
    
    <div class="form-group">
        <label for="inputEmail4">Email</label>
        <input type="email"[ngClass]="styleClass"   [(ngModel)]="mail"   id="inputEmail4" placeholder="Email">
    </div>
    
    <div class="form-group">
        <label for="inputPassword4">Password</label>
        <input type="password"  [ngClass]="styleClass"   [(ngModel)]="pass"   id="inputPassword4" placeholder="Password">
    </div>
    
    <div class="form-group">
        <label for="inputNom4">Nom</label>
        <input type="name" [ngClass]="styleClass"   [(ngModel)]="name"   id="inputNom4" placeholder="First name">
    </div>
    
    <div class="form-group">
        <label for="inputLastname4">Prenom</label>
        <input type="lastname" [ngClass]="styleClass"   [(ngModel)]="lastName"   id="inputLastname4" placeholder="Last name">
    </div>
    
    <button type="submit" class="btn btn-success" (click)="onclick_envoyer()">Envoyer</button>
    <button type="button" class="btn btn-default mx-2" (click)="onclick_annuler()">Annuler</button>
    <button type="submit" class="btn btn-primary" (click)="onClick_ajouter()">Ajouter</button>



    <br><br><br>

    <h1>Tableau</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Mail</th>
            <th>Mot de passe</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Validation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of tab; let index = index" class="table-active">
            <td>{{key.email}}</td>
            <td>{{key.lastName}}</td>
            <td>{{key.name}}</td>
            <td>{{key.password}}</td>
            <td><button *ngIf="key.password.length>10" type="button" class="btn btn-warning mb-2" (click)="supp(index)">supprimer</button></td>
          </tr>
        </tbody>
      </table>










</div> <!-- Fin - div container-->
